<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Libros</title>
  <link rel="stylesheet" th:href="@{/estilos.css}">
</head>
<body>
<div class="container">
  <h2>Libros</h2>

  <div style="margin:10px 0">
    <a class="btn" th:href="@{/}">Inicio</a>
    <a class="btn btn-primary" th:href="@{/libros/nuevo}">Nuevo</a>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th><th>Título</th><th>Autor</th><th>Categoría</th><th>Editar</th><th>Eliminar</th>
      </tr>
    </thead>
    <tbody class="table-actions">
      <tr th:each="l : ${lista}">
        <td th:text="${l.id}">1</td>
        <td th:text="${l.titulo}">Titulo</td>
        <td th:text="${l.autor}">Autor</td>
        <td th:text="${l.categoria != null ? l.categoria.nombre : '—'}">Cat</td>
        <td><a class="btn" th:href="@{'/libros/editar/' + ${l.id}}">Editar</a></td>
        <td><a class="btn btn-danger" th:href="@{'/libros/eliminar/' + ${l.id}}"
               onclick="return confirm('¿Eliminar?')">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
