<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
<head>
    <title>TechShop</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header>
        <h1>Welcome my friend</h1>
    </header>

    <section>
        <div style="display: flex; justify-content: center;">
            <h2>Esta es la prueba o no</h2>
            <h3 style="padding : 5px;">Seguro?</h3>
            <h4>IDK</h4>
        </div>
    </section>

    <footer>
        Todos los Derechos Reservados P A Y 2025 &copy;
    </footer>
</body>
</html>
